In [73]:
import pandas as pd
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_6e7dcdc3575e428080e7768fa07b8e91 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='_KshR2zJ0OpbN1l8MT3dzMlODt_HJgUjUIQ3gb_ATsTJ',
    ibm_auth_endpoint="https://iam.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_6e7dcdc3575e428080e7768fa07b8e91.get_object(Bucket='blackfriday-donotdelete-pr-d3g0stwy4hg6p7',Key='BlackFriday.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

bfriday= pd.read_csv(body)
bfriday.head()
body = client_6e7dcdc3575e428080e7768fa07b8e91.get_object(Bucket='blackfriday-donotdelete-pr-d3g0stwy4hg6p7',Key='BlackFriday.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

bfriday= pd.read_csv(body)
bfriday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [74]:
bfriday.shape

(537577, 12)

In [75]:
bfriday['Stay_In_Current_City_Years'].value_counts()

1     189192
2      99459
3      93312
4+     82889
0      72725
Name: Stay_In_Current_City_Years, dtype: int64

In [76]:
bfriday.isnull().sum() #colculates no of null values for each category in dataset

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [77]:
b = ['Product_Category_2','Product_Category_3']

In [78]:
for i in b:
    exec("bfriday.%s.fillna(bfriday.%s.value_counts().idxmax(), inplace=True)" %(i,i))

In [79]:
X = bfriday.drop(["Purchase"], axis=1)

In [80]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [83]:
X= X.apply(LE.fit_transform)

In [141]:
X.Gender = pd.to_numeric(X.Gender)
X.Age = pd.to_numeric(X.Age)
X.Occupation = pd.to_numeric(X.Occupation)
X.City_Category = pd.to_numeric(X.City_Category)
X.Stay_In_Current_City_Years = pd.to_numeric(X.Stay_In_Current_City_Years)
X.Marital_Status = pd.to_numeric(X.Marital_Status)
X.Product_Category_1 = pd.to_numeric(X.Product_Category_1)
X.Product_Category_2 = pd.to_numeric(X.Product_Category_2)
X.Product_Category_3 = pd.to_numeric(X.Product_Category_3)
X.Product_Category_3

0         12
1         10
2         12
3         12
4         12
5         12
6         13
7         12
8         12
9         12
10        12
11        12
12        12
13         2
14        10
15        12
16         1
17        12
18        12
19        11
20        12
21        12
22        12
23        12
24        10
25        12
26        12
27        12
28        10
29         4
          ..
537547    11
537548    12
537549    10
537550    12
537551     4
537552    12
537553    12
537554    12
537555    12
537556    12
537557    12
537558    12
537559    12
537560    12
537561    12
537562    10
537563    12
537564    12
537565    12
537566    12
537567    12
537568    12
537569    12
537570    12
537571     2
537572    12
537573    12
537574    12
537575    12
537576    12
Name: Product_Category_3, Length: 537577, dtype: int64

In [85]:
Y = bfriday["Purchase"]
Y

0          8370
1         15200
2          1422
3          1057
4          7969
5         15227
6         19215
7         15854
8         15686
9          7871
10         5254
11         3957
12         6073
13        15665
14         5378
15         2079
16        13055
17         8851
18        11788
19        19614
20         8584
21         9872
22         9743
23         5982
24        11927
25        16662
26         5887
27         6973
28         5391
29        16352
          ...
537547    11543
537548    20924
537549    13082
537550    11658
537551     6863
537552    16415
537553    18526
537554     7099
537555      578
537556     2183
537557    12724
537558     7796
537559     7770
537560     5940
537561     7834
537562    11508
537563     6074
537564     7084
537565     7934
537566     5350
537567     1994
537568     5930
537569     7042
537570    15491
537571    11852
537572    11664
537573    19196
537574     8043
537575     7172
537576     6875
Name: Purchase, Length: 537577, dtype: int64

In [86]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
bfriday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8.0,16.0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,8.0,16.0,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,16.0,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,8.0,16.0,7969

In [87]:
Xs = SS.fit_transform(X)

In [88]:
from sklearn.decomposition import PCA
pc = PCA(4)

In [89]:
principalComponents = pc.fit_transform(X)

In [90]:
pc.explained_variance_ratio_

array([  7.35761510e-01,   2.64215790e-01,   1.11932596e-05,
         6.28064654e-06])

In [91]:
principalDf = pd.DataFrame(data = principalComponents, columns = ["component 1", "component 2", "component 3", "component 4"])

In [92]:
from sklearn.model_selection import KFold
kf = KFold(20)

In [93]:
for a,b in kf.split(principalDf):
    X_train, X_test = Xs[a],Xs[b]
    y_train, y_test = Y[a],Y[b]

In [94]:
from sklearn.linear_model import LinearRegression

In [95]:
from sklearn.tree import DecisionTreeRegressor

In [96]:
from sklearn.ensemble import RandomForestRegressor

In [97]:
lr = LinearRegression()
dtr = DecisionTreeRegressor()
rfr = RandomForestRegressor()

In [98]:
fit1 = lr.fit(X_train,y_train)#Here we fit training data to linear regressor
fit2 = dtr.fit(X_train,y_train)#Here we fit training data to Decision Tree Regressor
fit3 = rfr.fit(X_train,y_train)

In [99]:
print("Accuracy Score of Linear regression on train set",fit1.score(X_train,y_train)*100)
print("Accuracy Score of Decision Tree on train set",fit2.score(X_train,y_train)*100)
print("Accuracy Score of Random Forests on train set",fit3.score(X_train,y_train)*100)

Accuracy Score of Linear regression on train set 11.7966240259
Accuracy Score of Decision Tree on train set 100.0
Accuracy Score of Random Forests on train set 94.1949601764

In [100]:
print("Accuracy Score of Linear regression on test set",fit1.score(X_test,y_test)*100)
print("Accuracy Score of Decision Tree on test set",fit2.score(X_test,y_test)*100)
print("Accuracy Score of Random Forests on test set",fit3.score(X_test,y_test)*100)

Accuracy Score of Linear regression on test set 12.4907057945
Accuracy Score of Decision Tree on test set 40.8796272931
Accuracy Score of Random Forests on test set 66.6954677081

In [101]:
from watson_machine_learning_client import WatsonMachineLearningAPIClient

In [102]:
Wml_credentials={"apikey": "fE_BtehAKg9hKTatu3Hy1NVkk3E6hZJ7jeUVGdQHgyeW",
                  "instance_id": "a649e3c4-a025-4e5c-a917-096de67062ce",
                  "password": "168d8fc2-be2d-42b1-8d00-392ea49b92c1",
                  "url": "https://eu-gb.ml.cloud.ibm.com",
                  "username": "54a14a53-b0c5-433b-9a41-5b8e6df26723"
                }

In [103]:
Client = WatsonMachineLearningAPIClient(Wml_credentials)

In [104]:
Model_props={Client.repository.ModelMetaNames.AUTHOR_NAME:'dphani12345',
             Client.repository.ModelMetaNames.AUTHOR_EMAIL:'dphani12345@gmail.com',
             Client.repository.ModelMetaNames.NAME:'BlackFriday'}

In [107]:
model_artifact=Client.repository.store_model(rfr,meta_props=Model_props)

In [108]:
published_model_uid=Client.repository.get_model_uid(model_artifact)

In [109]:
published_model_uid

'd51db27d-4668-4307-8be4-f124a15cce95'

In [72]:
deploy=Client.deployments.create(published_model_uid,name='Purchase')

#######################################################################################

Synchronous deployment creation for uid: '43b73e54-7fac-4247-9144-3330de179efa' started

#######################################################################################


INITIALIZING
DEPLOY_IN_PROGRESS
DEPLOY_SUCCESS


------------------------------------------------------------------------------------------------
Successfully finished deployment creation, deployment_uid='daf9135b-bb1b-4cb7-b969-6d7dcdb3365a'
------------------------------------------------------------------------------------------------

In [73]:
scoring_endpoint = Client.deployments.get_scoring_url(deploy)

In [74]:
scoring_endpoint

'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a649e3c4-a025-4e5c-a917-096de67062ce/deployments/daf9135b-bb1b-4cb7-b969-6d7dcdb3365a/online'